numpy
pandas
scikit-learn
torch
transformers
sentence-transformers
langchain
langchain-community
langchain-huggingface
langchain-openai
langgraph
openai
google-genai
faiss-cpu
pymupdf
pypdf
python-dotenv
streamlit